body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    border: 1px solid #eee;
    cursor: pointer;
   
}

#botao{
    background: rgb(255, 1, 1);
    border: none;
    padding: 10px 20px;
    color:white;
    border-radius: 10px;
    align-items:center
}

.btn-imagem {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-imagem:hover {
  transform: scale(1.1);
}

.pedra {
  background-image: url('images/pedra.png');
}

.papel {
  background-image: url('images/papel.png');
}

.tesoura {
  background-image: url('images/tesoura.png');
}
